//
// Blog
// --------------------------------------------------


.page-template-default {
	.wtrBreadcrumb {
		display: none;
	}
}


.archive {
	.wtrBreadcrumbPath {
		display: none;
	}
	.wtrContentCol {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}


.wtrBreadcrumbHeadline {
	float: right;
}