#wtrRateUs.postbox {
background: #2ea2cc !important;
}

#wtrRateUs h3.hndle.ui-sortable-handle span{
	color: #fff !important;
}

#wtrRateUs .inside{
	color: #fff !important;
}

#wtrRateUs .inside span{
	font-size: 18px;
}

#wtrRateUs .inside a:hover{
	text-decoration: none;
}

#wtrRateUs .inside a{
	color: #fff !important;
	text-decoration: underline;
}

#wtrRateUs a.button{
	text-decoration: none !important;
	background-color: #0074a2 !important;
	border: 1px solid #0074a2 !important;
	color: #ffffff !important;
	box-shadow: inset 0 0px 0 rgba(120,200,230,.5),0 0px 0 rgba(0,0,0,.15);
}

#wtrRateUs a.button:hover{
	background-color: #ffffff !important;
	border: 1px solid #ffffff !important;
	color: #000 !important;
}

#wtrRateUs .hndle,
#wtrRateUs .hndle{
	border-bottom: 1px solid #6BB9D8 !important;
}

#wtrRateUs .handlediv{
	color: #0074a2 !important;
}