//
// Footer
// --------------------------------------------------

.wtrFooter address {
	margin-bottom: 8px;
}

.contact-list,
.footer-social {
	> li {
		margin-bottom: 2px;
	}
	i {
		width: 20px;
	}
}