@media (min-width: 768px) {
  .align-right-sm {
    text-align: right; } }

a {
  font-size: inherit; }

.wtrFooter address {
  margin-bottom: 8px; }

.contact-list > li, .footer-social > li {
  margin-bottom: 2px; }
.contact-list i, .footer-social i {
  width: 20px; }
